@use "./variables.scss" as *;

@use "./base.scss";
.formkit-form[data-uid="bbfeea18ae"] .formkit-input {
    background: #ffffff !important;
    font-size: 15px !important;
    padding: 5px !important;
    -webkit-flex: 1 0 auto !important;
    -ms-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    line-height: 1 !important;
    margin: 0 !important;
    -webkit-transition: border-color ease-out 300ms !important;
    transition: border-color ease-out 300ms !important;
}

.formkit-form[data-uid="bbfeea18ae"] .formkit-button > span,
.formkit-form[data-uid="bbfeea18ae"] .formkit-submit > span {
    display: block !important;
    -webkit-transition: all 300ms ease-in-out !important;
    transition: all 300ms ease-in-out !important;
    padding: 6px 12px !important;
}
.formkit-form[data-uid="bbfeea18ae"][min-width~="700"] [data-style="clean"], .formkit-form[data-uid="bbfeea18ae"][min-width~="800"] [data-style="clean"] {
    padding: 10px !important;
    padding-top: 3px !important;
}

:root {
  --graph-muted: #1c6dfe;
  --graph-highlight: #ffffff;
}
